<h1>ICONS</h1>

<div>
  <i class="fa fa-cc-amex fa-3x"></i>
  <i class="fa fa-cc-discover fa-3x"></i>
  <i class="fa fa-cc-mastercard fa-3x"></i>
  <i class="fa fa-cc-paypal fa-3x"></i>
  <i class="fa fa-cc-visa fa-3x"></i>
  <br/><br/>
  <i class="fa fa-windows fa-3x"></i>
  <i class="fa fa-chrome fa-3x"></i>
  <i class="fa fa-internet-explorer fa-3x"></i>
  <i class="fa fa-firefox fa-3x"></i>
  <i class="fa fa-google fa-3x"></i>
  <br/><br/>
  <i class="fa fa-fighter-jet fa-3x"></i>
  <i class="fa fa-motorcycle fa-3x"></i>
  <i class="fa fa-plane fa-3x"></i>
  <i class="fa fa-rocket fa-3x"></i>
  <i class="fa fa-ship fa-3x"></i>
  <i class="fa fa-space-shuttle fa-3x"></i>
  <i class="fa fa-subway fa-3x"></i>
  <i class="fa fa-taxi fa-3x"></i>
  <i class="fa fa-train fa-3x"></i>
  <br/><br/>
  <i class="fa fa-file-image-o fa-3x"></i>
  <i class="fa fa-file-movie-o fa-3x"></i>
  <i class="fa fa-file-o fa-3x"></i>
  <i class="fa fa-file-pdf-o fa-3x"></i>
  <i class="fa fa-file-photo-o fa-3x"></i>
  <i class="fa fa-file-picture-o fa-3x"></i>
  <i class="fa fa-file-powerpoint-o fa-3x"></i>
  <i class="fa fa-file-sound-o fa-3x"></i>
  <i class="fa fa-file-text fa-3x"></i>
  <i class="fa fa-file-text-o fa-3x"></i>
  <i class="fa fa-try fa-3x"></i>
  <br/><br/>
  <i class="fa fa-turkish-lira fa-3x"></i>
  <i class="fa fa-usd fa-3x"></i>
  <i class="fa fa-won fa-3x"></i>
  <i class="fa fa-yen fa-3x"></i>
  <br/><br/>
  <i class="fa fa-industry fa-3x"></i>
  <i class="fa fa-info fa-3x"></i>
  <i class="fa fa-info-circle fa-3x"></i>
  <i class="fa fa-institution fa-3x"></i>
  <i class="fa fa-key fa-3x"></i>
  <i class="fa fa-keyboard-o fa-3x"></i>
  <i class="fa fa-language fa-3x"></i>
  <i class="fa fa-laptop fa-3x"></i>
  <br/><br/>
  <i class="fa fa-trash-o fa-3x"></i>
  <i class="fa fa-tree fa-3x"></i>
  <i class="fa fa-trophy fa-3x"></i>
  <i class="fa fa-truck fa-3x"></i>
  <i class="fa fa-tty fa-3x"></i>
  <i class="fa fa-tv fa-3x"></i>
  <i class="fa fa-umbrella fa-3x"></i>
  <i class="fa fa-university fa-3x"></i>
  <i class="fa fa-unlock fa-3x"></i>
  <i class="fa fa-unlock-alt fa-3x"></i>


</div>

<br/><br/><br/><br/>
<input type="text" class="app" value="shawn"/>
<br/><br/><br/><br/>
<a href="" style="background-color:blue;" class="btn btn-default btn-lg btn-block">
  <label class="app">HOME</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <label class="app">ONCORP</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <label class="app">EDD</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <label class="app">PPSA</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <label class="app">INCORPORATIONS</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <label class="app">NUANS</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <label class="app">TEST</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <label class="app">HELP</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <label class="app">LOGOUT</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</a>
